@import "variables";

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  .navbar__logo {
    width: 10rem;
  }
  .navbar__button {
    display: none;
  }
  .toggle-button {
    font-size: 2.2rem;
    position: absolute;
    top: 2rem;
    right: 5%;
  }
  .navbar__links {
    display: none;
  }

  .modal.fadeIn{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    animation:fadein .5s;
  }

  .navbar__links.active {
    display: block;
    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      background-color: white;
      padding: 2rem;
      font-weight: 700;
      border-radius: 5px;
      width: 70%;
      position: absolute;
      top: 10%;
      left: 0;
      right: 0;
      margin: auto;
      li a {
        text-decoration: none;
        color: $darkBlue;
        font-size: 1rem;

        &:hover {
          color: $grayBlue;
        }
      }
    }
  }
}

@media screen and (min-width: 940px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    width: 90%;
    .navbar__button {
      font-family: $font;
      display: block;
      background-color: $primaryRed;
      color: white;
      border: none;
      border-radius: 35px;
      padding: 1rem 2.5rem;
      font-size: 0.8rem;
      transition: 0.5s box-shadow;
      cursor: pointer;

      &:hover {
        box-shadow: 0 4px 10px 0 rgba($primaryRed, 0.8);
      }
    }
    .toggle-button {
      display: none;
    }
    .navbar__links {
      display: flex;
      ul {
        display: flex;
        gap: 2.5rem;
        li a {
          text-decoration: none;
          color: $darkBlue;
          font-size: 1rem;

          &:hover {
            color: $grayBlue;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    width: 80%;
  }
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

@keyframes fadeout {
	from {
		opacity:1;
	}
	to {
		opacity:0;
	}
}